*{
    box-sizing: border-box;
    font-family:Brooklyn;
}
button,input,textarea{
    outline: none;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}
input,textarea{
    border:1px solid #d2d2d2;
}
input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
body{
    margin: 0;
}
.main{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.main:after{
    content: "";
    display: table;
    clear: both;
    overflow: hidden;
}
/*面包屑导航*/
.crumbs_nav{
    margin-bottom: 15px;
    color: #000;
    font-size: 16px;
    margin-left: 12px;
}
.crumbs_nav a{
    color: #000;
    font-family: Regular;
    margin-right: 12px;
}
.crumbs_nav a:hover{
    color: #2D72FF;
}
.crumbs_nav span{
    font-family:Bold;
    font-weight: bold;
    margin-left: 12px;
}

.main-pd{
    padding-top: 126px;
}
.float_clear:after{
    content: "";
    display: table;
    clear: both;
    overflow: hidden;
}
.float-l{
    float: left;
}
.float-r{
    float: right;
}
.border-all{
    border: 1px solid #888;
}
.border-t{
    border-top: 1px solid #888;
}
.border-r{
    border-right: 1px solid #888;
}
.border-b{
    border-bottom: 1px solid #888;
}
.border-l{
    border-left: 1px solid #888;
}
a{
    color: #333333;
    text-decoration: none;
    transition: all 0.3s;
}
a:hover{
    color: #2D72FF;
}
 /*全局字体文件*/
@font-face {
    font-family:'Brooklyn';
    src: url('../font/The Brooklyn Smooth Bold Demo.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
/*banner细字体*/
@font-face {
    font-family:'thin';
    src: url('../font/sanfranciscodisplay-thin-webfont.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}
/*banner粗字体*/
@font-face {
    font-family:'Heavy';
    src: url('../font/sanfranciscodisplay-Heavy-webfont.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}
/*Roboto字体*/
@font-face {
    font-family:'RobotoLight';
    src: url('../font/Roboto-Light_0.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family:'RobotoRegular';
    src: url('../font/Roboto-Regular_1.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}
@font-face {
    font-family:'RobotoBold';
    src: url('../font/Roboto-Bold_1.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}
/*如果为IE8 提示用户更新浏览器块*/
.ifIE8Box{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #808080;
    text-align: center;
}
.ifIE8Box a{
    color: #2D72FF;
}
/*header公共样式*/
.headerBox{
    background-color: rgba(23,23,23,.9);
    height: 126px;
    width: 100%;
    position: fixed;
    top: 0;
    color: #fff;
    z-index: 100;
    transition: all 0.3s;
}
.headerBox a{
    display: block;
    color: #fff;
    font-family: RobotoBold;
    width: 100%;
    padding: 0 28px;
}

.headerBoxContent{
    width: 1200px;
    margin: 0 auto;
    height: 125px;
    position: relative;
}
.headerItem{
    height: 126px;
    line-height: 125px;
    position: relative;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.headerLogo>img{
    width: 162px;
    margin-bottom: -11px;
    margin-right: 50px;
}
.headerTapBorder{
    position: absolute;
    height: 4px;
    width: 30px;
    left: 0;
    bottom: 0;
    background-color: #fff;
    transition: all 0.3s;
}
.headerLogin>img{
    margin-right: 27px;
    margin-bottom: -2px;
}
.headerSearch>img{
    margin-right: 31px;
    margin-bottom: -2px;
}
.headerSearchBox{
    position: absolute;
    bottom: -38px;
    right: 0;
    width: 285px;
    height: 30px;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}
.headerSearchBoxShow{
    bottom: 0;
    opacity: 1;
    visibility: visible;
}
.headerSearchInput{
    float: left;
    width: 224px;
    height: 30px;
    font-size: 16px;
    outline: none;
    padding-left: 10px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}
.headerSearchBtn{
    float: left;
    width: 59px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #fff;
    background-color: transparent;
    border-left: 0;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: all 0.4s;
}
.headerSearchBtn:hover{
    background-color: #fff;
    color: #000;
    border-color: #fff;
}
.headerSearchTriangle{
    position: absolute;
    width: 11px;
    height: 8px;
    top: -7px;
    left: 50%;
}
/*头部点击登录头像弹出框*/
.headerLoginBox{
    position: absolute;
    top: 120px;
    right: 0;
    width: 123px;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    border: 1px solid #cccccc;
    padding: 0 15px;
    transition: all 0.3s;
}
.headerLoginBoxShow{
    top: 90px;
    opacity: 1;
    visibility: visible;
}
.headerLoginTriangle{
    position: absolute;
    top: -20px;
    left: 25px;
    border-top: 11px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #fff;
    border-left: 15px solid transparent;
}
.headerLoginLine{
    height: 35px;
    text-align: center;
    padding-top: 11px;
}
.headerLoginLine>a{
    font-size: 16px;
}
/*头部条产品分类弹出抽屉*/
.headerCategoriesBox{
    position: absolute;
    width: 802px;
    height: 373px;
    background-color: #fff;
    top: 126px;
    left: -120px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid #ccc;
}
.headerTap:hover .headerCategoriesBox{
    visibility: visible;
    opacity: 1;
}
.headerCategoriesItem{
    width: 200px;
    text-align: center;
    height: 187px;
    line-height: 187px;
    position: relative;
    overflow: hidden;
}
.headerCategoriesItemPic{
    height: 160px;
    width: 160px;
    margin-top: 14px;
    transition: all 0.3s;
}
.headerCategoriesItemFocus{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.headerCategoriesItem:hover .headerCategoriesItemPic{
    transform: scale(1.1);
}

/*底部块*/
.footerBox{
    background-color: #313131;
    width: 100%;
    height: 612px;
    text-align: center;
}
.footerTop{
    height: 507px;
    width: 1050px;
    margin: 0 auto;
    padding-top: 45px;
    color: #929292;
}
.footerTopTitle{
    color: #fff;
    font-size: 53px;
}
.footerTopTitle>span{
    font-family: Heavy;
}
.footerTopTitle2{
    font-size: 14px;
    line-height: 18px;
}
.footerChangeBox{
    margin-top: 30px;
}
.footerChangeLeft:first-child{
    margin-right: 100px;
}
.footerChangeLeftTitle{
    color: #fff;
    font-size: 18px;
    font-family: RobotoRegular;
    text-align: left;
}
.footerChangeLeftBorder{
    width: 24px;
    height: 2px;
    background-color: #fff;
    margin-top: 4px;
    margin-bottom: 10px;
}
.footerChangeLeftLine{
    height: 28px;
    line-height: 28px;
    text-align: left;
    font-size: 16px;
}
.footerChangeLeftLine a{
    color: #929292;
}
.footerChangeLeftLine a:hover{
    color: #fff;
}
.footerChangeRight{
    width: 511px;
}
.footerInput{
    border: 1px solid #fff;
    color: #fff;
    width: 247px;
    height: 38px;
    padding:0 12px;
    background-color: transparent;
    font-size: 16px;
    font-family: RobotoRegular;
}
.footerTextarea{
    border: 1px solid #fff;
    color: #fff;
    min-width: 100%;
    max-width: 100%;
    min-height: 143px;
    max-height: 143px;
    padding:6px 12px;
    margin-top: 16px;
    background-color: transparent;
    font-size: 16px;
    font-family: RobotoRegular;
}
.footerSend{
    width: 123px;
    height: 41px;
    line-height: 41px;
    background-color: #fff;
    text-align: center;
    color: #000;
    font-size: 16px;
    font-family: RobotoBold;
    margin-top: 21px;
    border-radius: 5px;
    cursor: pointer;
}


.footerBottom{
    height: 105px;
    background-color: #000000;
}
/*图形字体*/
@font-face {
    font-family: 'FontAwesome';
    src: url('../font/font-awesome.woff2?v=4.5.0') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-twitter:before {
    content: "\f099";
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}
.fa-google-plus:before {
    content: "\f0d5";
}
.fa-linkedin:before {
    content: "\f0e1";
}
.footerIcon-button{
    background-color: #272727;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    margin: 24px 6px 8px 6px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}
.footerIcon-button i{
    background: none;
    color: #000 !important;
    height: 34px;
    left: 0;
    line-height: 34px;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 34px;
    z-index: 10;
}
.footerIcon-button span{
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}
.twitter span {
    background-color: #55c5f5;
}
.facebook span {
    background-color: #3B5998;
}
.google-plus span {
    background-color: #db5a3c;
}
.linkedin span {
    background-color: #1d82d4;
}
.footerIcon-button:hover span{
    width:34px;
    height: 34px;
    border-radius: 50%;
    margin: -17px;
}
.footerIcon-button:hover i{
    color: #fff !important;
}
.footerBottomText{
    color: #fff;
    font-size: 13px;
    font-family: Microsoft YaHei;
}

/*返回顶部样式*/
.toTopBox{
    position: fixed;
    bottom: 160px;
    right: 100px;
    width: 35px;
    display: none;
}
.toTopBtn{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #a0a0a0;
    text-align: center;
    line-height: 31px;
    border: 1px solid #fff;
    cursor: pointer;
}
.toTopPoint{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #a0a0a0;
    margin: 7px auto 0 auto;
}
