/*首页头部样式*/
.headerBox{
    top: -126px;
    background-color: #fff;
    border-bottom: 1px solid #888888;
    color: #333;
}
.headerBox a{
    color: #333;
}
.headerBoxShow{
    top: 0;
}
.headerTapBorder{
    background-color: #333;
}
.headerSearchInput{
    color: #000;
}
.headerSearchBtn{
    border: 1px solid #cccccc;
    background-color: #fff;
    color: #808080;
}
.headerSearchBtn:hover {
    background-color: #333;
    color: #fff;
    border-color: #333;
}
.headerLoginTriangle{
    position: absolute;
    top: -7px;
    left: 34px;
    border: none;
}
.headerSearchBoxShow{
    border-bottom: 1px solid #333;
}


.section {
    text-align: center;
    color: #333;
    height: 100vh !important;
    overflow: hidden;
}
/*第一屏*/
.section1{
    background: url("../image/index/index-1bg.png") no-repeat center center;
    background-size: cover;
    position: relative;
}
.section1BtnBox{
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 74px;
    height: 120px;
    margin-left: -37px;
    cursor: pointer;
}
.section1Btn{
    width: 74px;
    height: 74px;
    line-height: 74px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
}
.section1Btn>span{
    font-size: 24px;
    color: #000;
    font-weight: bold;
}
.section1Wave{
    position: absolute;
    left: 0;
    top: 0;
    width: 74px;
    height: 74px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0;
    animation: waveCircle 2s linear;
    animation-iteration-count: infinite;
}
@-webkit-keyframes waveCircle {
    0%{
        transform: scale(1);
        opacity: 0.8;
    }
    20%{
        transform: scale(1.1);
        opacity: 0.6;
    }
    40%{
        transform: scale(1.2);
        opacity: 0.4;
    }
    60%{
        transform: scale(1.3);
        opacity: 0.2;
    }
    80%{
        transform: scale(1.4);
        opacity: 0.1;
    }
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}
.section1Line{
    position: absolute;
    height: 45px;
    width: 1px;
    background-color: #fff;
    bottom: 12px;
    left: 50%;
    margin-left: -.5px;
}
.section1Triangle{
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-top: 12px solid #FFF;
    border-right: 7px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 7px solid transparent;
    margin-left: -7px;
}
.section1Logo{
    position: absolute;
    bottom: 7px;
    left: 0;
}
/*第二屏*/
.section2{
    position: relative;
}
.section2 .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 68px;
    left: 0;
    width: 100%;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: transparent;
    border: 2px solid #fff;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 5px;
}
.swiper-slide{
    position: relative;
    padding-top: 126px;
}
.section2Bg{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.slideMask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0,0,0,0.5);
}
.section2SlideTitle{
    font-size: 89px;
    position: absolute;
    bottom: 44%;
    width: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
}
.section2TitleIn{
    bottom: 54%;
    opacity: 1;
}
.section2SlideDesBox{
    bottom: 40%;
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    opacity: 0;
}
.section2DesIn{
    bottom: 50%;
    opacity: 1;
}
.section2SlideDes{
    width: 420px;
    margin: 0 auto;
    position: relative;
}
.section2SlideDesLeft{
    position: absolute;
    top: 15px;
    left: 0;
    width:  32px;
    height: 1px;
    background-color: #fff;
}
.section2SlideDesRight{
    position: absolute;
    top: 15px;
    right: 0;
    width:  32px;
    height: 1px;
    background-color: #fff;
}
.section2SlideBtnBox{
    position: absolute;
    bottom: 33%;
    width: 100%;
    text-align: center;
    opacity: 0;
}
.section2BtnIn{
    bottom: 43%;
    opacity: 1;
}
.section2SlideBtn{
    margin: 0 auto;
    width: 180px;
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    border: 1px solid #FFF;
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
}
.section2SlideBtn:hover{
    background-color: #333;
}


/*第三层*/
.section3Box{
    padding-top: 126px;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.section3Title{
    font-size: 53px;
    font-family: thin;
    margin-top: 7%;
    text-align: left;
}
.section3Title>span{
    font-weight: bold;
    font-family: Heavy;
}
.section3TitleDes{
    text-align: left;
    font-size: 14px;
    font-family: RobotoLight;
}
.section3TitleBorderBox{
    margin-top: 20px;
}
.section3TitleBorder{
    width: 70px;
    height: 2px;
    margin-top: 1px;
    background-color: #555555;
}
.section3TitlePoint{
    width: 4px;
    height: 4px;
    margin-left: 4px;
    background-color: #000;
    border-radius: 50%;
}
.section3ProductBox{
    width: 1149px;
    margin: 45px auto 0 auto;
    position: relative;
    height: 440px;
}
.section3ProductItem{
    width: 365px;
    position: absolute;
    top: 432px;
    opacity: 0;
}
.section3ProductItemIn{
    top: 0;
    opacity: 1;
}
.section3Item1{
    left: 0;
}
.section3Item2{
    left: 383px;
}
.section3Item3{
    left: 766px;
}
.section3ProductItemImgBox{
    position: relative;
    width: 365px;
    height: 365px;
}
.section3ProductItemImgBox>img{
    width: 100%;
    height: 100%;
}
.section3ProductItemImgMask{
    position: absolute;
    width: 365px;
    height: 365px;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.section3ProductItemImgMask>p{
    width: 295px;
    margin: 160px auto 0 auto;
    color: #fff;
    font-size: 14px;
}
.section3ProductItemImgBox:hover .section3ProductItemImgMask{
    visibility: visible;
    opacity: 1;
}
.section3ProductItemT1{
    font-size: 18px;
    color: #808080;
    text-align: left;
    margin-top: 16px;
}
.section3ProductItemT2{
    font-size: 24px;
    text-align: left;
}
.section3ProductItemT2>span{
    font-weight: bold;
}
/*第四层*/
.section4Content{
    width: 100%;
    height: 100%;
    padding-top: 126px;
    background: url(../image/index/index-4bg.png) no-repeat center center;
    background-size: cover;
    position: relative;
}
.section4Content img{
    width: 100%;
    height: 100%;
}
.section4Mark{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.section4Box{
    background-color: rgba(0,0,0,0.7);
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.section4BorderBox{
    position: absolute;
    right: 160px;
    top: 100px;
}
.section4Border{
    width: 70px;
    height: 2px;
    background-color: #ababab;
    margin-top: 41px;
    margin-left: 4px;
    margin-right: 15px;
}
.section4BorderPoint{
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 40px;
}
.section4BorderText{
    font-size: 53px;
    font-family: Heavy;
    color: #fff;
}
.section4Item{
    position: absolute;
    width: 233px;
    height: 234px;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    cursor: pointer;
}
.section4Item1{
    width: 475px;
    height: 475px;
    left: 0;
}
.section4Item1In{
    top: 175px;
    opacity: 1;
    visibility: visible;
}
.section4ProductBox{
    position: relative;
    width: 100%;
    height: 100%;
}
.section4ProductDexBox{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 98px;
    background-color: rgba(255,255,255,0.83);
    padding-left: 35px;
    padding-top: 22px;
    text-align: left;
}
.section4ProductDexT1{
    font-size: 18px;
}
.section4ProductDexT2{
    font-size: 32px;
}
.section4ProductDexT2>span{
    font-family: Heavy;
}
.section4Item2{
    left: 483px;
}
.section4Item2In{
    top: 175px;
    opacity: 1;
    visibility: visible;
}
.section4Item3{
    left: 724px;
}
.section4Item3In{
    top: 175px;
    opacity: 1;
    visibility: visible;
}
.section4Item4{
    left: 965px;
}
.section4Item4In{
    top: 175px;
    opacity: 1;
    visibility: visible;
}
.section4Item5{
    left: 483px;
}
.section4Item5In{
    top: 416px;
    opacity: 1;
    visibility: visible;
}
.section4Item6{
    left: 724px;
}
.section4Item6In{
    top: 416px;
    opacity: 1;
    visibility: visible;
}
.section4Item7{
    left: 965px;
}
.section4Item7In{
    top: 416px;
    opacity: 1;
    visibility: visible;
}

/*第五屏*/
.section5Box{
    padding-top: 126px;
    height: 100%;
    width: 100%;
}
.section5Content{
    height: 100%;
    width: 100%;
    position: relative;
}
.section5Box img{
    width: 100%;
    height: 100%;
}
.section5ImgBox1{
    width:1025px;
    height: 600px;
    position: absolute;
    top: 50px;
}
.section5ImgMask{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
.section5ImgBox2{
    width: 536px;
    height: 606px;
    position: absolute;
    top: 116px;
    left: 360px;
    z-index:2;
}
.section5TitleBox{
    position: absolute;
    top: 120px;
    left: 100%;
}
.section5Title{
    font-size: 53px;
    font-family: Thin;
    min-width: 800px;
    text-align: left;
}
.section5Title>span{
    font-family: Heavy;
}
.section5TitleBoxIn{
    left: 1085px;
}
.section5DesBox{
    position: absolute;
    width: 400px;
    top: 280px;
    left: 100%;
    text-align: left;
}
.section5DesBoxIn{
    left: 1085px;
}
.section5DesBtn{
    margin-top: 22px;
}
.section5DesBtn a{
    font-family: Heavy;
    font-size: 14px;
}

.section5DesBorder{
    width: 29px;
    height: 3px;
    background-color: #dddddd;
    margin: 7px 15px 0 0;
}


/*第六屏*/
.section6Box{
    width: 100%;
    height: 100%;
    padding-top: 126px;
}
.section6Title{
    font-size: 53px;
    font-family: Thin;
    text-align: center;
    margin-top: 50px;
}
.section6Title>span{
    font-family: Heavy;
}
.section6Title2{
    font-size: 14px;
}
.videoBox{
    width: 905px;
    height: 543px;
    margin: 50px auto 0 auto;
}
.indexVideo{
    width: 100%;
    height: 100%;
}

/*第七屏*/
.section7Box{
    width: 100%;
    height: 100%;
    padding-top: 126px;
    background: url(../image/index/index-7Bg.png) no-repeat center center;
    background-size: cover;
}
.section7Box img{
    width: 100%;
    height: 100%;
}
.section7Content{
    width: 900px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.section7Title{
    position: absolute;
    top: 50px;
    font-size: 53px;
    font-family: Thin;
    text-align: left;
    color: #fff;
}
.section7Title>span{
    font-family: Heavy;
}
.section7TitleBorder{
    width: 62px;
    height: 7px;
    background-color: #fff;
    margin-top: 10px;
}
.section7Item{
    width: 225px;
    height: 225px;
    position: absolute;
}
.section7ItemBox{
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(55,55,55,.95);
}
.section7ItemBox>img{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 175px;
    height: 175px;
    border-radius: 50%;
}
.section7ItemMark{
    position: absolute;
    width: 100%;
    height: 110px;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    color: #fff;
    padding-left: 15px;
    padding-top: 30px;
    text-align: left;
}
.section7ItemMarkTitle{
    font-size: 14px;
    margin-bottom: 5px;
}
.section7ItemMarkTitle>span{
    font-family: Brooklyn;
    font-size: 24px;
}
.section7ItemMarkTitle2>a{
    font-size: 14px;
    font-family: RobotoBold;
    color: #fff;
}
.section7ItemMarkTitle2>a:hover{
    color: #2D72FF;
}
.section7Item1{
    top: -40%;
    left: -40%;
}
.section7Item1In{
    top: 250px;
    left: 0;
}
.section7Item2{
    top: -40%;
    left: 180px;
}
.section7Item2In{
    top: 210px;
    left: 226px;
}
.section7Item3{
    top: -40%;
    left: 453px;
}
.section7Item3In{
    top: 130px;
    left: 453px;
}
.section7Item4{
    top: -40%;
    right: -70%;
}
.section7Item4In{
    top: 250px;
    right: -6px;
}
.section7Item5{
    top: 357px;
    right: -70%;
}
.section7Item5In{
    top: 357px;
    right: 221px;
}

/*第八屏*/
.section8Box{
    padding-top: 126px;
    height: 100%;
    width: 100%;
    background-color: #313131;
    position: relative;
}
.section8Box  .footerBox{
    position: absolute;
    bottom: 0;
}

